* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}

body {
  background-color: #0e0000;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 500px;
  margin: 2rem auto;
  background: url(./images/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  gap: 1rem;
  height: 100vh;
  border-radius: 0.7rem;
}

.message-to-user {
  color: bisque;
}

ul {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;

  li {
    background-color: #4b0102;
    color: bisque;
    padding: 0.5rem 1.2rem;
    border-radius: 0.4rem;
    cursor: pointer;
  }
}
